.container {
    display: flex;
    height: 38px;
    gap: 10px; 
  }
  
  .searchButton {
    border: 1px solid #616D8D;
    border-radius: 8px;
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchIcon {
    width: 15px;
    height: 15px;
    color: #616D8D;
  }