
.label {
    position: relative;
  }
  
  .input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #222B44;
    color: white; 
  }
  .input::placeholder {
    color: #616D8D; 
}
  .button {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }